main{
    margin-bottom: 400px;
}
.title__page{
    margin-top: 50px;
}
.register__form{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.register__form--input{
    margin-bottom: 10px;
}
.form__login--warring{
    color: red;
    display: none;
}   